.answer-button {
  border: 1px solid var(--textcolor);
  background: transparent;
  margin-bottom: 15px;
  font-size: xx-large !important;
  height: 80px !important;
  width: 160px;
  /* font-weight: bold; */
}

.answer-button:hover {
  border: 1px solid var(--secondarybg);
  background: var(--textcolor);
  /* color: var(--bgcolor); */
}
/* just to overwrite antd defaults */
.answer-button:focus {
  border: 1px solid var(--textcolor);
  background: transparent;
  /* color: var(--bgcolor); */
}

.problem-text {
  font-size: xx-large;
  font-weight: bold;
}
