.answer-button,
.answer-button:focus {
  border: 1px solid var(--textcolor);
  background: transparent;
  margin-bottom: 15px;
  font-size: xx-large !important;
  height: 80px !important;
  width: 160px;
  letter-spacing: 1px;
  /* font-weight: bold; */
}

/* .answer-button:hover {
  border: 1px solid var(--secondarybg);
  background: var(--textcolor);
  font-weight: bold;
} */

.answer-button:hover {
  border: 1px solid var(--textcolor);
  background: var(--secondarybg);
  /* font-weight: bold; */
}

/* just to overwrite antd defaults */
/* .answer-button:focus[wasRight="1"] {
  border: 1px solid green;
  background: green;
  color: white !important;
}
.answer-button:focus[wasRight="0"] {
  border: 1px solid red;
  background: red;
  color: black !important;
} */

.problem-text {
  font-size: xx-large;
  font-weight: bold;
}

.feedback-button,
.feedback-button:hover,
.feedback-button:focus {
  background: var(--textcolor);
  border: 1px solid var(--secondarybg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.feedback-icon {
  font-size: xxx-large !important;
  color: var(--bgcolor) !important;
}
