@import "~antd/dist/antd.css";

:root {
  --bgcolor: rgb(37, 21, 38);
  --secondarybg: rgb(45, 27, 47);
  --textcolor: rgb(197, 137, 219);
  --understandcolor: rgb(111, 212, 27);
  --bxshadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
    0px 5px 8px 0px rgb(0 0 0 / 14%), 0px 1px 14px 0px rgb(0 0 0 / 12%);
}

body {
  background: var(--bgcolor);
  color: white;
}
